<!-- table of contents 
     ================= -->
<style type="text/css">
  .extension-preview {
    display: none;
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 100;
    text-align: right;
  }
  .btn {
    color: rgba(102,128,153,0.35);
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  .bth:hover {
    color: #036;
    border-color: rgba(0,128,255,0.1);
    background-color: #f0f2f5 !important;
  }
  .bth:active {
    color: #036;
    border-color: rgba(0,128,255,0.1);
    background-color: #f0f2f5 !important;
  }
  .dropdown-toggle {
    padding: 10px 12px;
    margin: 10px 0px 0px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
  }
  .dropdown-menu {
    margin: 2px 0 0;
    background-color: #f0f2f5;
    padding: 5px 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.125);
    font-size 14px;
    border: 1px solid #dee6ed;
    border-radius: 4px;
    text-align: left;
  }
</style>
<div class="extension-preview">
  <button class="btn dropdown-toggle">
    <span class='icon-list'></span>
  </button>
  <div class="dropdown-menu">
    <h3>Table of contents</h3>
    <div class="table-of-contents">
      <div class="toc">
        <ul>
        <li><a href="#welcome">Welcome to StackEdit!  </a><ul>
        <li><a href="#documents">Documents</a><ul>
        <li><ul>
        <li><a href="#create-a-document"> Create a document</a></li>
        <li><a href="#switch-to-another-document"> Switch to another document</a></li>
        <li><a href="#rename-a-document"> Rename a document</a></li>
        <li><a href="#delete-a-document"> Delete a document</a></li>
        <li><a href="#save-a-document"> Save a document</a></li>
        </ul> </li> </ul> </li> </ul> </li> </ul> </li> </ul> </li> </ul> </li> </ul> </li> </ul>
      </div>
    </div>
  </div>
</div>

