@charset "utf-8";html{color:#333;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-rendering:optimizelegibility;-moz-osx-font-smoothing:grayscale}html.borderbox *,html.borderbox *:before,html.borderbox *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}body,button,input,select,textarea{font:400 1em/1.8 Avenir,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif}button,input{*width:auto;*overflow:visible;line-height:normal}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}fieldset,img{border:0}img{-ms-interpolation-mode:bicubic}iframe{display:block}blockquote{position:relative;color:#999;font-weight:300;font-family:Avenir,'Helvetica Neue','Microsoft Yahei','Hiragino Sans GB','Microsoft Sans Serif','WenQuanYi Micro Hei',sans-serif;border-left:1px solid #1abc9c;padding-left:1em;margin:1em 3em 1em 2em}@media only screen and (max-width:640px){blockquote{margin:1em 0}}acronym,abbr{border-bottom:1px dotted;font-variant:normal}abbr{cursor:help}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}ul,ol{list-style:none}caption,th{text-align:left}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative}:root sub,:root sup{vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}a{color:#1abc9c}a:hover{text-decoration:underline}.typo a{border-bottom:1px solid #1abc9c}.typo a:hover{border-bottom-color:#555;color:#555;text-decoration:none}ins,a{text-decoration:none}u,.typo-u{text-decoration:underline}mark{background:#fffdd1;border-bottom:1px solid #ffedce;padding:2px;margin:0 5px}pre,code{font-family:Courier,'Courier New',monospace;white-space:pre-wrap;word-wrap:break-word}pre{background:#f8f8f8;border:1px solid #ddd;padding:1em 1.5em}hr{border:0;border-bottom:1px solid #cfcfcf;margin-bottom:10px;*color:pink;*filter:chroma(color=pink);height:10px;*margin:-7px 0 2px}small,.typo-small,figcaption{font-size:.9em;color:#888}strong,b{font-weight:inherit;color:#000}[draggable]{cursor:move}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}.textwrap,.textwrap td,.textwrap th{word-wrap:break-word;word-break:break-all}.textwrap-table{table-layout:fixed}.serif{font-family:Palatino,Optima,Georgia,serif}.typo p,.typo pre,.typo ul,.typo ol,.typo dl,.typo form,.typo hr,.typo table,.typo-p,.typo-pre,.typo-ul,.typo-ol,.typo-dl,.typo-form,.typo-hr,.typo-table,blockquote{margin-bottom:1.8em}h1,h2,h3,h4,h5,h6{font-family:'Helvetica Neue','Microsoft Yahei','Hiragino Sans GB','Microsoft Sans Serif','WenQuanYi Micro Hei',sans-serif;font-weight:200;color:#000}.typo h1,.typo h2,.typo h3,.typo h4,.typo h5,.typo h6,.typo-h1,.typo-h2,.typo-h3,.typo-h4,.typo-h5,.typo-h6{margin-bottom:.4em;line-height:1.5}.typo h1,.typo-h1{font-size:2em}.typo h2,.typo-h2{font-size:1.8em}.typo h3,.typo-h3{font-size:1.6em}.typo h4,.typo-h4{font-size:1.4em}.typo h5,.typo h6,.typo-h5,.typo-h6{font-size:1.2em}.typo ul,.typo-ul{margin-left:1.3em;list-style:disc}.typo ol,.typo-ol{list-style:decimal;margin-left:1.9em}.typo li ul,.typo li ol,.typo-ul ul,.typo-ul ol,.typo-ol ul,.typo-ol ol{margin-top:0;margin-bottom:0;margin-left:2em}.typo li ul,.typo-ul ul,.typo-ol ul{list-style:circle}.typo table th,.typo table td,.typo-table th,.typo-table td .typo table caption{border:1px solid #ddd;padding:.5em 1em;color:#666}.typo table th,.typo-table th{background:#fbfbfb}.typo table thead th,.typo-table thead th{background:#f1f1f1}.typo table caption{border-bottom:0}.typo-input,.typo-textarea{-webkit-appearance:none;border-radius:0}::-moz-selection{background:#08c;color:#fff}::selection{background:#08c;color:#fff}.typo-em,.typo em,legend,caption{color:#000;font-weight:inherit}.typo img{max-width:100%}.highlight{background:#fff}.highlight .c{color:#998;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{font-weight:bold}.highlight .o{font-weight:bold}.highlight .cm{color:#998;font-style:italic}.highlight .cp{color:#999;font-weight:bold}.highlight .c1{color:#998;font-style:italic}.highlight .cs{color:#999;font-weight:bold;font-style:italic}.highlight .gd{color:#000;background-color:#fdd}.highlight .gd .x{color:#000;background-color:#faa}.highlight .ge{font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000;background-color:#dfd}.highlight .gi .x{color:#000;background-color:#afa}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{font-weight:bold}.highlight .kd{font-weight:bold}.highlight .kp{font-weight:bold}.highlight .kr{font-weight:bold}.highlight .kt{color:#458;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .nb{color:#0086b3}.highlight .nc{color:#458;font-weight:bold}.highlight .no{color:teal}.highlight .ni{color:purple}.highlight .ne{color:#900;font-weight:bold}.highlight .nf{color:#900;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}.hljs{font-size:13px;display:block;overflow-x:auto;padding:.5em;color:#333;background:#f8f8f8;-webkit-text-size-adjust:none}.hljs-comment,.hljs-template_comment,.diff .hljs-header,.hljs-javadoc{color:#998;font-style:italic}.hljs-keyword,.css .rule .hljs-keyword,.hljs-winutils,.javascript .hljs-title,.nginx .hljs-title,.hljs-subst,.hljs-request,.hljs-status{color:#333;font-weight:bold}.hljs-number,.hljs-hexcolor,.ruby .hljs-constant{color:teal}.hljs-string,.hljs-tag .hljs-value,.hljs-phpdoc,.hljs-dartdoc,.tex .hljs-formula{color:#d14}.hljs-title,.hljs-id,.scss .hljs-preprocessor{color:#900;font-weight:bold}.javascript .hljs-title,.hljs-list .hljs-keyword,.hljs-subst{font-weight:normal}.hljs-class .hljs-title,.hljs-type,.vhdl .hljs-literal,.tex .hljs-command{color:#458;font-weight:bold}.hljs-tag,.hljs-tag .hljs-title,.hljs-rules .hljs-property,.django .hljs-tag .hljs-keyword{color:navy;font-weight:normal}.hljs-attribute,.hljs-variable,.lisp .hljs-body{color:teal}.hljs-regexp{color:#009926}.hljs-symbol,.ruby .hljs-symbol .hljs-string,.lisp .hljs-keyword,.clojure .hljs-keyword,.scheme .hljs-keyword,.tex .hljs-special,.hljs-prompt{color:#990073}.hljs-built_in{color:#0086b3}.hljs-preprocessor,.hljs-pragma,.hljs-pi,.hljs-doctype,.hljs-shebang,.hljs-cdata{color:#999;font-weight:bold}.hljs-deletion{background:#fdd}.hljs-addition{background:#dfd}.diff .hljs-change{background:#0086b3}.hljs-chunk{color:#aaa}code.todo{color:red;background-color:yellow;padding:2px;font-weight:bold}code.todo:after{content:'TODO'}

body {
  margin: 0px;
}
.header {
  padding-bottom: 20px;
  height: 100px;
}
.danlv {
  background-color: #2B9646;
}
.header h1 {
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
.ft {
  position: absolute;
  width: 32px;
  height: 20px;
  top: 0px;
  left: -36px;
  font-size: 10px;
  text-align: center;
  background: #d1d0c8
}
.container {
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
}
.article {
  color: #5a5a5a;
}
.article h1,h2,h3,h4 {
  color: #5a5a5a;
}
.content img {
  display: block;
  max-width: 100%;
}
.article h1.title {
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
  font-weight: 700;
  font-size: 39px;
  text-align: center;
}
.page {
  position: relative;
}
.footer {
  color: #2B9646;
}
.gotop {
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: black;
  font-size: 30px;
  opacity: 0.7;
}

/* Responsive *\
\* ========== */
@media (max-width: 767px) {
  .search-box {
    width: 80%;
  }
  .container {
    width: auto;
  }
  div.search {
    width: auto;
  }
  .article h1.title {
    font-size: 32px;
  }
  .ft {
    position: relative;
    left: 0px;
  }
}
/* article */
.typo a, a {
  text-decoration: none;
  border-bottom: none;
}
.article-info {
  font-size: 13px;
  color: #999999;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.2em;
  margin-bottom: 2.2em;
}
.content img {
  margin: 0px auto;
}
.article-nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 1.2em;
  padding-bottom: 2.2em;
  margin-bottom: 2.2em;
  margin-top: 2.2em;
  font: 13px tahoma,arial,宋体;
}
.article-nav > .before {
  float: left;
  font-size: 14px;
}
.article-nav > .after {
  float: right;
  font-size: 14px;
}
/* url list pane */
.url-list-pane {
  position: fixed;
  height: 100%;
  top: 0px;
  left: -120px;
  background-color: black;
  z-index: 1000;
  opacity: 0.9;
  -webkit-transition: 0.4s all ease-in-out;
     -moz-transition: 0.4s all ease-in-out;
      -ms-transition: 0.4s all ease-in-out;
       -o-transition: 0.4s all ease-in-out;
          transition: 0.4s all ease-in-out;
}
.on {
  -webkit-transform:translate(120px, 0px);
     -moz-transform:translate(120px, 0px);
      -ms-transform:translate(120px, 0px);
       -o-transform:translate(120px, 0px);
          transform:translate(120px, 0px);
  /*left: 0px;*/
}
.off {
  -webkit-transform:translate(0px, 0px);
     -moz-transform:translate(0px, 0px);
      -ms-transform:translate(0px, 0px);
       -o-transform:translate(0px, 0px);
          transform:translate(0px, 0px);
  /*left: -150px;*/
}
#close {
  text-align: right;
  cursor: pointer;
  font-size: 16px;
  color: #FF5951;
  font-weight: bold;
  padding: 0px;
}
#close:hover {
  color: red;
}
#close span {
  margin-right: 5px;
}
.show-pane {
  position: fixed;
  width: 40px;
  top: 50%;
  margin-top: -50px;
  left: -35px;
  background-color: black;
  color: #fff;
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  padding: 20px 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  z-index: 900;
  -webkit-transition:all 0.2s ease-in-out !important;
     -moz-transition:all 0.2s ease-in-out !important;
      -ms-transition:all 0.2s ease-in-out !important;
       -o-transition:all 0.2s ease-in-out !important;
          transition:all 0.2s ease-in-out !important;
  opacity: 0.7;
}
.show-pane:hover {
  text-decoration: none;
  left: -20px;
}

.side-nav {
  display:table; 
  /*background-color:#C2300B;*/
  width: 100%; 
  height: 100%; 
  overflow:hidden; 
  _position:relative; 
}
.vertical-middle { 
  vertical-align:middle; 
  display:table-cell; 
  text-align:center; 
  _position:absolute; 
  _top:50%; 
  _left:50%; 
}
.navbar {
  background-color: black; 
  color:#fff; 
  display:inline-block; 
  _position:relative; 
  _top:-50%; 
  _left:-50%; 
  border-radius: 5px;
}
.navbar > li {
  font: 16px "微软雅黑","Arial","Helvetica","sans-serif";
  text-align: left;
  padding: 7px 15px;
  padding-left: 15px;
  border-left: 5px solid white;
}
.navbar span {
  margin-right: 10px;
}
/* comments */
#ds-reset .ds-avatar img {
  width: 54px !important;
  height: 54px !important;
  -webkit-border-radius: 27px !important;
  -moz-border-radius: 27px !important;
  border-radius: 27px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
#ds-reset .ds-powered-by {
  display: none;
}
#ds-thread #ds-reset .ds-meta {
  border-bottom: none!important;
}
#ds-thread {
  clear: none !important;
  float: left;
  margin-top: 0;
  width: 100%;
}
