---
layout: page 
page: image
logo: camera
---

<div class="section">
    <div class="page-title">
      <ul class="navigation clearfix">
        <li><a>leilux · Images</a></li>
        <li id='ver' class='layout-btn {{page.ver}}'><a href='./album-v.html'><span class='icon-layout'></span></a></li>
        <!-- <li id='hor' class='layout-btn {{page.hor}}'><a href='./album-h.html'><span class='icon-layout2'></span></a></li> -->
      </ul>
    </div>
    <!-- image -->
    <div class='image-group'>
      <div class='box {%if page.ver %} ver {% else %} hor {% endif %}'>
        <!-- photos -->
      </div><!-- /.box -->
      <img src="/assets/img/loading.gif" id='loading' alt="" style='display:none;margin:auto;left:0;right:0;'/>
    </div><!-- /.image-list -->
</div><!-- /.section -->

<script type="text/javascript" src='/assets/js/jquery-1.9.1.min.js'></script>
<script type="text/javascript" src="/assets/js/jquery.mustache.js"></script>
<script type="text/javascript" src='/assets/js/imagesloaded.pkgd.min.js'></script>
<script type="text/javascript" src='/assets/js/imagelightbox.js'></script>

<script type="text/template" id='temp_photo'>
  <div class='brick'><a href="{[{url}]}" data-imagelightbox='a'><img src="{[{url}]}@200w_30Q_1x.jpg"></a></div>
</script>

<script type="text/javascript">

var interval = 20;
var album_name = location.hash.substr(1);

$('a[href^="./album"]').each(function(i,e) {
    var $e = $(e);
    $e.attr('href', $e.attr('href')+'#'+album_name);
});

var imgsqueue = $('a[data-imagelightbox="a"]').imageLightbox({
    quitOnEnd:   true,
    animationsSpeed: 10,
	onStart: 	 function() { overlayOn(); },
    onEnd:	 	 function(e) { 
        overlayOff(); activityIndicatorOff(); 
        //$(document).scrollTop($('img[src="'+e.src+'"]').offset().top-20);
        $('html,body').animate({scrollTop:$('img[src="'+e.src+'"]').offset().top-20});
    },
	onLoadStart: function() { activityIndicatorOn(); },
	onLoadEnd:	 function() { activityIndicatorOff(); },
});

function add_page(data) {
    // waiting animation
    $('#loading').css({'display': 'block'});
    var $data = $(data.splice(0, interval)); // for debug
    if ($data.length == 0) return false;
    var elems = [];
    $data.each(function(i, e) {
        var $elem = $('#temp_photo').mustache(e);
        $('.box').append($elem);
        elems.push($elem[0]);
    });

    imgsqueue.appendTarget($('a[data-imagelightbox="a"]', $(elems)));

    imagesLoaded($('.box')[0], function() {
        var msnry = new Masonry($('.box')[0], {
            itemSelector: '.brick',
            transitionDuration: 0,
            //columnWidth: 200,
        });
        // next
        lazy_load(data);
        $('#loading').css({'display': 'none'});
    });
}
// lazy loading
function lazy_load(data) {
    if (data.length == 0) return;
    // next
    if ($(window).height() >= $(document).height())
        // bottom_less_handler
        add_page(data);
    else
        // scroll_bottom_handler
        $(window).on('scroll', {data:data}, pageless_scroll_handler);
}

function pageless_scroll_handler(event) {
    if ($(document).scrollTop()+$(window).height() > $(document).height() - 200) {
        $(window).off('scroll', pageless_scroll_handler);
        add_page(event.data.data);
    }
}

$.ajax({
    type: 'GET',
    dataType: 'json',
    url: '/assets/json/album/' + album_name + '.json',
    success: function(data) {
        add_page(data);

        // layout ver
        $('#ver').on('click', function(e) {
            var msnry = new Masonry($('.box')[0], {
                itemSelector: '.brick',
                transitionDuration: 0,
                //columnWidth: 200,
            });
            //msnry.layout();
        });
    },
    error: function(jqXHR, textStatus, errorThrown) {
        console.error(errorThrown);
    },
})


</script>

<script type="text/javascript" src='/assets/js/masonry.pkgd.min.js'></script>
<script type="text/javascript" src='/assets/js/freewall.min.js'></script>
<style type="text/css">
/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox
{
	cursor: pointer;
	position: fixed;
	z-index: 10000;

	-ms-touch-action: none;
	touch-action: none;

	-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
	box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}
/* ACTIVITY INDICATION */
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */
}
/* OVERLAY */
#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
/* "CLOSE" BUTTON */
#imagelightbox-close
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
#imagelightbox-close:hover,
#imagelightbox-close:focus
{
	background-color: #111;
}
#imagelightbox-close:before,
#imagelightbox-close:after
{
	width: 2px;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 50%;
	margin-left: -1px;
}
#imagelightbox-close:before
{
	-webkit-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	transform: rotate( 45deg );
}
#imagelightbox-close:after
{
	-webkit-transform: rotate( -45deg );
	-ms-transform: rotate( -45deg );
	transform: rotate( -45deg );
}
/* CAPTION */
#imagelightbox-caption
{
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}
/* NAVIGATION */
#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
#imagelightbox-nav button
{
	width: 1em; /* 20 */
	height: 1em; /* 20 */
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 0 0.313em; /* 5 */
}
#imagelightbox-nav button.active
{
	background-color: #fff;
}
/* ARROWS */
.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
	background-color: #666;
	background-color: rgba( 0, 0, 0, .75 );
}
.imagelightbox-arrow:active
{
	background-color: #111;
}
.imagelightbox-arrow-left
{
	left: 2.5em; /* 40 */
}
.imagelightbox-arrow-right
{
	right: 2.5em; /* 40 */
}
.imagelightbox-arrow:before
{
	width: 0;
	height: 0;
	border: 1em solid transparent;
	content: '';
	display: inline-block;
	margin-bottom: -0.125em; /* 2 */
}
.imagelightbox-arrow-left:before
{
	border-left: none;
	border-right-color: #fff;
	margin-left: -0.313em; /* 5 */
}
.imagelightbox-arrow-right:before
{
	border-right: none;
	border-left-color: #fff;
	margin-right: -0.313em; /* 5 */
}
#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
@-webkit-keyframes fade-in
{
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}
@keyframes fade-in
{
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}
@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left
	{
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right
	{
		right: 1.25em; /* 20 */
	}
}

@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left
	{
		left: 0;
	}
	.imagelightbox-arrow-right
	{
		right: 0;
	}
}
</style>
<script type="text/javascript">
// http://osvaldas.info/examples/image-lightbox-responsive-touch-friendly/
    // ACTIVITY INDICATOR
var activityIndicatorOn = function() {
		//$( '<div id="imagelightbox-loading"><div></div></div>' ).appendTo( 'body' );
        $('<img src="/assets/img/loading.gif" id="imagelightbox-loading"/>').appendTo('body')
	},
	activityIndicatorOff = function() {
		$( '#imagelightbox-loading' ).remove();
	},
	// OVERLAY
	overlayOn = function() {
		$( '<div id="imagelightbox-overlay"></div>' ).appendTo( 'body' );
	},
	overlayOff = function() {
		$( '#imagelightbox-overlay' ).remove();
	},
	// CLOSE BUTTON
	closeButtonOn = function( instance ) {
		$( '<button type="button" id="imagelightbox-close" title="Close"></button>' ).appendTo( 'body' ).on( 'click touchend', function(){ $( this ).remove(); instance.quitImageLightbox(); return false; });
	},
	closeButtonOff = function() {
		$( '#imagelightbox-close' ).remove();
	},
	// CAPTION
	captionOn = function() {
		var description = $( 'a[href="' + $( '#imagelightbox' ).attr( 'src' ) + '"] img' ).attr( 'alt' );
		if( description.length > 0 )
			$( '<div id="imagelightbox-caption">' + description + '</div>' ).appendTo( 'body' );
	},
	captionOff = function() {
		$( '#imagelightbox-caption' ).remove();
	},
	// NAVIGATION
	navigationOn = function( instance, selector ) {
		var images = $( selector );
		if( images.length ) {
			var nav = $( '<div id="imagelightbox-nav"></div>' );
			for( var i = 0; i < images.length; i++ )
				nav.append( '<button type="button"></button>' );

			nav.appendTo( 'body' );
			nav.on( 'click touchend', function(){ return false; });

			var navItems = nav.find( 'button' );
			navItems.on( 'click touchend', function() {
				var $this = $( this );
				if( images.eq( $this.index() ).attr( 'href' ) != $( '#imagelightbox' ).attr( 'src' ) )
					instance.switchImageLightbox( $this.index() );

				navItems.removeClass( 'active' );
				navItems.eq( $this.index() ).addClass( 'active' );

				return false;
			})
			.on( 'touchend', function(){ return false; });
		}
	},
	navigationUpdate = function( selector ) {
		var items = $( '#imagelightbox-nav button' );
		items.removeClass( 'active' );
		items.eq( $( selector ).filter( '[href="' + $( '#imagelightbox' ).attr( 'src' ) + '"]' ).index( selector ) ).addClass( 'active' );
	},
	navigationOff = function() {
		$( '#imagelightbox-nav' ).remove();
	},


	// ARROWS
	arrowsOn = function( instance, selector ) {
		var $arrows = $( '<button type="button" class="imagelightbox-arrow imagelightbox-arrow-left"></button><button type="button" class="imagelightbox-arrow imagelightbox-arrow-right"></button>' );

		$arrows.appendTo( 'body' );

		$arrows.on( 'click touchend', function( e ) {
			e.preventDefault();

			var $this	= $( this ),
				$target	= $( selector + '[href="' + $( '#imagelightbox' ).attr( 'src' ) + '"]' ),
				index	= $target.index( selector );

			if( $this.hasClass( 'imagelightbox-arrow-left' ) ) {
				index = index - 1;
				if( !$( selector ).eq( index ).length )
					index = $( selector ).length;
			}
			else {
				index = index + 1;
				if( !$( selector ).eq( index ).length )
					index = 0;
			}

			instance.switchImageLightbox( index );
			return false;
		});
	},
	arrowsOff = function() {
		$( '.imagelightbox-arrow' ).remove();
	};

</script>
