<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/default.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/home.css" type="text/css"/>
</head>

<body>
{{ content }}

<!-- tongji -->
<style type="text/css">
  a[href="http://tongji.baidu.com/hm-web/welcome/ico?s=9406ba2f73e22e77c847e0dc78ac72c5"]{display:none;}
</style>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9406ba2f73e22e77c847e0dc78ac72c5' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
