---
layout: page
title: Blog
page: blog
logo: quill
---

<div class="section">
  <div class="page-title">
    <ul class="navigation clearfix">
      <li><a>leilux · Blog</a></li>
      <li class="search"><input class='search-query' type="text" placeholder="搜索" />
      </li>
    </ul>
  </div>
  <ul class="article-list">
    {% for post in site.posts %}{% if post.categories contains 'lab' %}{% else %}
    <li>
      <h2><a href="{{ post.url|replace: '+','%20' }}">{{ post.title }}</a></h2>
      <div class="article-info">
        <span class="icon-clock-o"></span><span class='time'>{{ post.date|date:"%Y-%m-%d" }}</span>&nbsp;
        <span class="icon-th-large"></span>
        {% for category in post.categories %}
          <span class='categories'>{{ category }}</span>
        {% endfor %}&nbsp;
        <span class="icon-tags"></span>
        {% for tag in post.tags %}
          <span>{{ tag }}, </span>
        {% endfor %}
      </div>
      <div class="title-desc">{{ post.content | split:'<!--more-->'|first|strip_html}}<a href="{{ post.url|replace: '+','%20' }}"> ...</a></div>
    </li>
    {% endif %}{% endfor %}
  </ul>
  <!-- paginator -->
</div><!-- /.section -->
